@font-face {
  font-family: ARCADECLASSIC;
  src: url('./../assets/fonts/ARCADECLASSIC.TTF') format('opentype');
}

@font-face {
  font-family: The Baby Monster;
  src: url('./../assets/fonts/the-baby-monster.ttf') format('opentype');
}
